.navbar-brand{
    font-weight:900;
    color:aliceblue;
    padding-left: 20px;
}
.nav-item{
    font-weight: bolder;
    font: caption;
    padding-right: 10px;
}
.container-fluid{
    background-color:darkslategrey
}